[submodule "schemes/swag"]
	path = schemes/swag
	branch = release
	url = git@github.com:rbkmoney/swag.git
[submodule "build_utils"]
	path = build_utils
	url = git@github.com:rbkmoney/build_utils.git
	branch = master
