%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

%% Common project dependencies.
{deps, [
    {cowboy, "2.9.0"},
    {jose, "1.11.2"},
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}},
    {cowboy_draining_server, {git, "https://github.com/rbkmoney/cowboy_draining_server.git", {branch, "master"}}},
    {woody, {git, "https://github.com/rbkmoney/woody_erlang.git", {branch, "master"}}},
    {woody_user_identity, {git, "https://github.com/rbkmoney/woody_erlang_user_identity.git", {branch, "master"}}},
    {woody_api_hay, {git, "https://github.com/rbkmoney/woody_api_hay.git", {branch, "master"}}},
    {damsel, {git, "https://github.com/rbkmoney/damsel.git", {branch, "release/erlang/master"}}},
    {bender_proto, {git, "https://github.com/rbkmoney/bender-proto.git", {branch, "master"}}},
    {bender_client, {git, "https://github.com/rbkmoney/bender_client_erlang.git", {branch, "master"}}},
    {reporter_proto, {git, "https://github.com/rbkmoney/reporter-proto.git", {branch, "master"}}},
    {dmt_client, {git, "https://github.com/rbkmoney/dmt_client.git", {branch, "master"}}},
    {cowboy_cors, {git, "https://github.com/rbkmoney/cowboy_cors.git", {branch, "master"}}},
    {cowboy_access_log, {git, "https://github.com/rbkmoney/cowboy_access_log.git", {branch, "master"}}},
    {payproc_errors, {git, "https://github.com/rbkmoney/payproc-errors-erlang.git", {branch, "master"}}},
    {scoper, {git, "https://github.com/rbkmoney/scoper.git", {branch, master}}},
    {erl_health, {git, "https://github.com/rbkmoney/erlang-health.git", {branch, master}}},
    {lechiffre, {git, "https://github.com/rbkmoney/lechiffre.git", {branch, master}}},
    {prometheus, "4.8.1"},
    {prometheus_cowboy, "0.1.8"},
    {bouncer_proto, {git, "https://github.com/rbkmoney/bouncer-proto.git", {branch, master}}},
    {bouncer_client, {git, "https://github.com/rbkmoney/bouncer_client_erlang.git", {branch, master}}},
    {token_keeper_client, {git, "https://github.com/rbkmoney/token-keeper-client.git", {branch, master}}},
    {party_client, {git, "https://github.com/rbkmoney/party_client_erlang.git", {branch, "ed-272/ft/aggregate_shop_data"}}},
    {payout_manager_proto, {git, "https://github.com/rbkmoney/payout-manager-proto.git", {branch, master}}},
    {how_are_you, {git, "https://github.com/rbkmoney/how_are_you.git", {branch, master}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

% at will
% {xref_warnings, true}.

%% Tests
{cover_enabled, true}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {prod, [
        {deps, [
            {recon, "2.3.6"},
            {logger_logstash_formatter,
                {git, "https://github.com/rbkmoney/logger_logstash_formatter.git", {ref, "87e52c7"}}}
        ]},
        {relx, [
            {release, {capi, "0.1.0"}, [
                % tools for introspection
                {recon, load},
                % debugger
                {runtime_tools, load},
                % profiler
                {tools, load},
                logger_logstash_formatter,
                capi,
                sasl,
                woody_api_hay,
                how_are_you
            ]},
            {mode, minimal},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {overlay, [
                {mkdir, "var/keys/capi"},
                {copy, "var/keys/capi/private.pem", "var/keys/capi/private.pem"}
            ]},
            {extended_start_script, true}
        ]}
    ]},
    {test, [
        {dialyzer, [{plt_extra_apps, [eunit, common_test, runtime_tools, bender_proto, payout_manager_proto]}]}
    ]}
]}.

{plugins, [
    {erlfmt, "1.0.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, ["apps/capi*/{src,include,test}/*.{hrl,erl}", "rebar.config", "elvis.config"]}
]}.

{pre_hooks, [
    {thrift, "git submodule update --init"}
]}.
