{plugins, [
    {rebar3_thrift_compiler,
        {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {tag, "0.2"}}}
]}.

{provider_hooks, [
    {pre, [
        {compile, {thrift, compile}},
        {clean, {thrift, clean}}
    ]}
]}.

{thrift_compiler_opts, [
    {in_dir, "damsel/proto"},
    {in_files, [
        "cds.thrift",
        "payment_processing.thrift",
        "merch_stat.thrift",
        "proxy_provider.thrift",
        "proxy_inspector.thrift",
        "accounter.thrift",
        "geo_ip.thrift",
        "domain_config.thrift",
        "reporting.thrift",
        "webhooker.thrift"
    ]},
    {gen, "erlang:app_prefix=cp,scoped_typenames"}
]}.
