[

    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/capi"},
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]},

    {capi, [
        {host, "0.0.0.0"},
        {port, 8080},
        {service_type, real},
        {api_secret_path, "var/secret"}
    ]},

    {cp_proto, [
        {service_urls, #{
            invoicing     => "http://hellgate:8022/v1/processing/invoicing",
            cds_storage   => "http://cds:8022/v1/storage",
            merchant_stat => "http://magista:8082/stat",
            party_management => "http://hellgate:8022/v1/processing/partymgmt",
            repository => "http://dominant:8022/v1/domain/repository",
        }}
    ]}

].
