[

    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/capi"},
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]},
        {extra_sinks, [
            {capi_access_lager_event, [
                {handlers, [
                    {lager_file_backend, [
                        {file, "access_log.json"},
                        {level, info},
                        {formatter, lager_logstash_formatter}
                    ]}
                ]},
                {async_threshold, 20},
                {async_threshold_window, 5}
            ]}
        ]}
    ]},

    {capi, [
        {ip, "::"},
        {port, 8080},
        %% To send ASCII text in 5xx replies
        %% {oops_bodies, #{
        %%     500 => "oops_bodies/500_body"
        %% }},
        {service_type, real},
        {authorizers, #{
            jwt => #{
                signee => capi,
                keyset => #{
                    keycloak => {pem_file, "var/keys/keycloak/public.pem"},
                    capi     => {pem_file, "var/keys/capi/private.pem"}
                }
            }
        }}
    ]},

    {cp_proto, [
        {service_urls, #{
            party_management => "http://hellgate:8022/v1/processing/partymgmt",
            accounter        => "http://shumway:8022/accounter",
            invoicing        => "http://hellgate:8022/v1/processing/invoicing",
            webhook_manager  => "http://hooker:8022/hook",
            repository       => "http://dominant:8022/v1/domain/repository",
            cds_storage      => "http://cds:8022/v1/storage",
            merchant_stat    => "http://magista:8022/stat",
            geo_ip_service   => "http://columbus:8022/repo"
        }}
    ]}
].
