[
    {mg_woody_api, [
        {storage, mg_storage_memory},
        {namespaces, #{
            <<"invoice">> => #{
                processor => #{url => <<"http://hellgate:8022/v1/stateproc/invoice">>},
                event_sink => <<"payproc">>
            },
            <<"party">> => #{
                processor => #{url => <<"http://hellgate:8022/v1/stateproc/party">>},
                event_sink => <<"payproc">>
            },
            <<"domain-config">> => #{
                processor => #{url => <<"http://dominant:8022/v1/stateproc">>}
            }
        }}
    ]}
].
