[
    {lager, [
        {log_root, "/var/log/machinegun"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file     , "log.json"              },
                {level    , info                    },
                {formatter, lager_logstash_formatter}
            ]},
            {lager_file_backend, [
                {file, "log.log"},
                {level, info    }
            ]},
            {lager_console_backend, info}
        ]}
    ]},
    {mg_woody_api, [
        {storage, mg_storage_test},
        {namespaces, #{
            <<"invoice">> => #{
                url        => <<"http://hellgate:8022/v1/stateproc/invoice">>,
                event_sink => <<"payproc">>
            },
            <<"party">> => #{
                url        => <<"http://hellgate:8022/v1/stateproc/party">>,
                event_sink => <<"payproc">>
            },
            <<"domain-config">> => #{
                url => <<"http://dominant:8022/v1/stateproc">>
            }
        }}
    ]}
].
